.control {
  width: 100%;
  color: #000;
  font-weight: bold;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
}

.control p {
  padding-bottom: .5rem;
}

.select {
  width: 50px;
  height: 20px;
  background-color: black;
  border:1px solid #000;
  padding: 0 2px 0 2px;
}

.inner {
  width: 18px;
  height: 16px;
  background:#067AE0;
  cursor:pointer;
  outline: none;
  border:1px solid #067ae0;
}


/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .control {
    width: 100%;
    color: #000;
    font-weight: bold;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 0;
  }
  
}

