.inner-container {
  display: flex;
  flex-direction: column;
  min-width:360px;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .inner-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    min-width:660px;
  }
}