.drum-pad {
  background-color: #e7e7e7;
  box-shadow: black 3px 3px 5px;
  outline: none;
  cursor:pointer;
  border:transparent;
  width: 100px;
  height: 80px;
  border-radius: 5px;
  color: #000;
  font-weight: bold;
  font-size: 15px;
}