.pad-bank {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
}

.pad-bank__inner {
  display: grid;
  grid-template-columns: repeat(3, 33.33%);
  width: 332px;
  row-gap: 10px;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .pad-bank {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0;
  }
  
}